<img src="/assets/mt_logo.png" width="50" height="50">

<div style="float: left">
    <a class="internal-link" href="{{ site.baseurl }}/">May Trinh</a> / <a class="internal-link" href="/thoughts">Thoughts</a> / <a class="internal-link" href="/lessons">Lessons</a> / <a class="internal-link" href="/poetry">Poetry</a> / <a class="internal-link" href="/library">Library</a> / <a class="internal-link" href="/now">Now</a>
</div>

<div style="float: right">
    <a class="internal-link" href="/thoughts">Thoughts</a> / <a class="internal-link" href="/lessons">Lessons</a> / <a class="internal-link" href="/poetry">Poetry</a> / <a class="internal-link" href="/library">Library</a> / <a class="internal-link" href="/now">Now</a>
</div>
<div style="clear: both;"></div>

