$color-primary: hsl(0, 0%, 10%);
$color-text: hsl(0, 0%, 20%);
$color-subtext: hsl(0, 0%, 30%);
$color-border: hsl(0, 0%, 85%); 
$color-box-background: mix($color-primary, white, 4%);
$border-radius: 4px;
$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

body {
  box-sizing: content-box;
  font-family: $font-family;
  margin: 0 auto;
  line-height: 1.7;
  padding: 4vh 6vw;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1.2rem;
  max-width: 63em;

  @media (min-width: 830px) {
    font-size: 1rem;
  }
}

time {
  display: block;
  color: $color-subtext;
  font-size: 0.9rem;
  margin: 0.5em 0 1em;
}

footer {
  margin: 2em 0;
  font-size: 0.8em;
  color: mix($color-text, white, 80%);
  padding-top: 1em;
}

img {
  float: left;  
  max-width: 75%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
  clear: both;
  overflow: auto;
}

blockquote {
  padding: 1.5em;
  margin: 0;
  font-size: 0.88em;
  background: $color-box-background;
  border-radius: $border-radius;

  p {
    margin: 0;
  }
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
  background: $color-border;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: 400;
}

a {
  transition: background 300ms;
  padding: 0 0.1em;
  text-decoration: none;
  border-bottom: 1px solid $color-border;
  color: $color-primary;
  &:hover {
    color: black !important;
    background: #fff;
  }
  &:after {
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
    content: "↗";
    color: #aaaaaa;
  }
  &.internal-link:after,
  &.footnote:after,
  &.reversefootnote:after {
    content: "";
  }
}

*:focus {
  background: #fff !important;
  color: black !important;
}

nav {
  margin: 1em 0 3em;
}

#notes-entry-container {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    "content"
    "side";

  @media (min-width: 700px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content side";
  }
}

.backlink-box {
  background: $color-box-background;
  padding: 1em;
  border-radius: $border-radius;
}

code {
  background: #f5f5f5;
  padding: 0.1em 0.2em;
  border-radius: 4px;
}

.invalid-link {
  color: #444444;
  cursor: help;
  background: #fafafa;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #ccc;
  cursor: help;
}

.subtext {
  color: #353839;
  font-style: italic;
  font-size: 1rem;
  padding: 0.3em;
  border-radius: 4px;
}

.timeline {
  /* Used to position the left vertical line */
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.timeline__line {
  /* Border */
  border-right: 2px solid #d1d5db;

  /* Positioned at the left */
  left: 0.75rem;
  position: absolute;
  top: 0px;

  /* Take full height */
  height: 100%;
}

.timeline__items {
  /* Reset styles */
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.timeline__item {
  margin-bottom: 8px;
}

.timeline__top {
  /* Center the content horizontally */
  align-items: center;
  display: flex;
}

.timeline__circle {
  /* Rounded border */
  background-color: #d1d5db;
  border-radius: 9999px;

  /* Size */
  height: 1.5rem;
  width: 1.5rem;
}

.timeline__title {
  /* Take available width */
  flex: 1;
  margin-left: 0.5rem;
}

.timeline__desc {
  /* Make it align with the title */
  margin-left: 2rem;
}


